@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* CONFIG MEDIA */
img {
    display: block;
    width: 100%;
    margin: 1.5rem 0;
}

#img-bugdroid{
    width: auto;
    margin: auto;
}

div.video {
    width: 100%;
    position: relative;
    padding: 0% 0% 60% 0%;
}

div.video > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 93.7%;
}
/* ... */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background:linear-gradient(to right, #12E63A, #3AFC21, #75E612);
    width: 100%;
    max-width: 90rem;
    min-height: 25vh;
    padding: 1rem 2.5rem;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}
    div.content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;  
    }
        div.content-header > h1 {
            font-size: clamp(1.2rem, 3vw, 2.5rem);
            font-weight: 600;
            color: #333;
            text-align: center;
        }
        div.content-header > span {
            font-size: clamp(.9rem, 1.5vw, 1rem);
            color: #333;
            text-align: center;
        }
    nav {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;    
    }
        nav > a {
            font-size: clamp(.9rem, 1.5vw, 1rem);
            font-weight: 500;
            color: #333;
            text-decoration: none;
        }
        nav > a:hover {
            color: #000;
            cursor: pointer;
        }

main {
    /* background-color: cornflowerblue; */
    width: 100%;
    max-width: 90rem;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
    section#sobre {
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
    }
    section#sobre article > h2 {
        background: linear-gradient(to right, #03E0FA 5%, transparent);
        color: #333;
        font-size: clamp(1rem, 2.5vw, 1.8rem);
        font-weight: 600;
        margin-bottom: 1rem;
    }
    section#curiosidades {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
    }
        aside {
            background-color: #03E0FA;
            /* padding: .5rem 1.5rem; */
            border-radius: .5rem;
            overflow: hidden;
        }
        aside > h3 {
            background-color: #028DDE;
            padding: .5rem 1.5rem;
        }
        aside > p{
            padding: 0rem 1.5rem;
        }
        aside > p:first-of-type {
            padding-top: 1.5rem;
        }
        aside > p:last-of-type {
            padding: 1rem 1.5rem 1.5rem 1.5rem;
        }
            ul {
                list-style-type: none;
                margin: 1.5rem 1.5rem;
                columns: 2;
            }

footer {
    background:linear-gradient(to right, #12E63A, #3AFC21, #75E612);
    width: 100%;
    max-width: 90rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    footer > span {
        font-weight: 700;
    }